flow.json
[
    {
        "id": "af49f098.a5b81",
        "type": "tab",
        "label": "On Air Sign",
        "disabled": false,
        "info": "# On Air Sign\n\nAutomated on air sign with zoom status"
    },
    {
        "id": "d5c3488e.834008",
        "type": "json",
        "z": "af49f098.a5b81",
        "name": "Request",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 450,
        "y": 220,
        "wires": [
            [
                "ed04f6bd.21f818"
            ]
        ]
    },
    {
        "id": "ed04f6bd.21f818",
        "type": "switch",
        "z": "af49f098.a5b81",
        "name": "Presence status",
        "property": "payload.payload.object.presence_status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Available",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Do_Not_Disturb",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "In_Meeting",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Away",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 620,
        "y": 220,
        "wires": [
            [
                "1cbbe286.2a031d"
            ],
            [
                "bccc47ff.bc1f98"
            ],
            [
                "bccc47ff.bc1f98"
            ],
            [
                "cc5578c3.2867a8"
            ]
        ]
    },
    {
        "id": "254b59bf.39db36",
        "type": "http response",
        "z": "af49f098.a5b81",
        "name": "Status response",
        "statusCode": "200",
        "headers": {},
        "x": 460,
        "y": 280,
        "wires": []
    },
    {
        "id": "1cbbe286.2a031d",
        "type": "template",
        "z": "af49f098.a5b81",
        "name": "Available",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"on\": true,\n    \"seg\": {\n        \"col\": [\n            [0, 255, 0]\n        ]\n    }\n}",
        "output": "str",
        "x": 820,
        "y": 160,
        "wires": [
            [
                "1cae856e.d0957b"
            ]
        ]
    },
    {
        "id": "bccc47ff.bc1f98",
        "type": "template",
        "z": "af49f098.a5b81",
        "name": "Busy",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"on\": true,\n    \"seg\": {\n        \"col\": [\n            [255, 0, 0]\n        ]\n    }\n}",
        "output": "str",
        "x": 810,
        "y": 220,
        "wires": [
            [
                "1cae856e.d0957b"
            ]
        ]
    },
    {
        "id": "cc5578c3.2867a8",
        "type": "template",
        "z": "af49f098.a5b81",
        "name": "Away",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"on\": false\n}",
        "output": "str",
        "x": 810,
        "y": 280,
        "wires": [
            [
                "1cae856e.d0957b"
            ]
        ]
    },
    {
        "id": "1cae856e.d0957b",
        "type": "http request",
        "z": "af49f098.a5b81",
        "name": "On Air Sign",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.86.71/json/state",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1010,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ca5ad715.9cdf78",
        "type": "http in",
        "z": "af49f098.a5b81",
        "name": "Status change",
        "url": "/onairsign",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "d5c3488e.834008",
                "254b59bf.39db36"
            ]
        ]
    }
]