flow.json
[
    {
        "id": "af49f098.a5b81",
        "type": "tab",
        "label": "On Air Sign",
        "disabled": false,
        "info": "# On Air Sign\n\nAutomated on air sign with zoom status"
    },
    {
        "id": "18f491fd.cccfde",
        "type": "subflow",
        "name": "Set busy",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "5e65806b.f3daa",
        "type": "subflow",
        "name": "Set busy",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "bccc47ff.bc1f98"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "6f44aa00.39f1d8",
        "type": "subflow",
        "name": "Set available",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "a811734a.fbeb3"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "49349dd8.690534",
        "type": "subflow",
        "name": "Turn off tv",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "fe395a09.0d84e8"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "a307d03b.cb134",
        "type": "subflow",
        "name": "Turn off sign",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "cc5578c3.2867a8"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "5d0fdfc3.3f428",
        "type": "ui_tab",
        "name": "Sign",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b571a780.1b3c38",
        "type": "ui_group",
        "name": "Sign",
        "tab": "5d0fdfc3.3f428",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5ea7767d.475018",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f7e7f462.2f1898",
        "type": "spotify-auth",
        "name": "Spotify OAuth2",
        "scope": "user-modify-playback-state, user-read-playback-state"
    },
    {
        "id": "97c95f86.6e626",
        "type": "ui_group",
        "name": "Configuration",
        "tab": "acd989da.d2fbc8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "acd989da.d2fbc8",
        "type": "ui_tab",
        "name": "Configuration",
        "icon": "settings",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "61d2dced.3db8f4",
        "type": "ui_group",
        "name": "flowtest",
        "tab": "3c94630c.13381c",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "3c94630c.13381c",
        "type": "ui_tab",
        "name": "Test",
        "icon": "dashboard",
        "order": 6
    },
    {
        "id": "ed04f6bd.21f818",
        "type": "switch",
        "z": "af49f098.a5b81",
        "name": "Presence status",
        "property": "zoomStatus",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Available",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Do_Not_Disturb",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "In_Meeting",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Away",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1120,
        "y": 220,
        "wires": [
            [
                "c6119c18.f977c"
            ],
            [
                "4a422cac.f5ecf4"
            ],
            [
                "4a422cac.f5ecf4"
            ],
            [
                "bd72710a.3c3ec",
                "46668f74.bd2b9"
            ]
        ]
    },
    {
        "id": "254b59bf.39db36",
        "type": "http response",
        "z": "af49f098.a5b81",
        "name": "Status response",
        "statusCode": "200",
        "headers": {},
        "x": 280,
        "y": 280,
        "wires": []
    },
    {
        "id": "1cbbe286.2a031d",
        "type": "template",
        "z": "6f44aa00.39f1d8",
        "name": "Available",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"on\": true,\n    \"bri\": 127,\n    \"seg\": {\n        \"col\": [\n            [0, 255, 0]\n        ]\n    }\n}",
        "output": "str",
        "x": 500,
        "y": 120,
        "wires": [
            [
                "e795ca68.5de6c8"
            ]
        ]
    },
    {
        "id": "bccc47ff.bc1f98",
        "type": "template",
        "z": "5e65806b.f3daa",
        "name": "Busy",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"on\": true,\n    \"bri\": 127,\n    \"seg\": {\n        \"col\": [\n            [255, 0, 0]\n        ]\n    }\n}",
        "output": "str",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "1cae856e.d0957b",
                "dcd12d02.2e917"
            ]
        ]
    },
    {
        "id": "cc5578c3.2867a8",
        "type": "template",
        "z": "a307d03b.cb134",
        "name": "Away",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"on\": false\n}",
        "output": "str",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "cb70dbb3.fd25a8"
            ]
        ]
    },
    {
        "id": "1cae856e.d0957b",
        "type": "http request",
        "z": "5e65806b.f3daa",
        "name": "On Air Sign",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.86.76/json/state",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 350,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "ca5ad715.9cdf78",
        "type": "http in",
        "z": "af49f098.a5b81",
        "name": "Status change",
        "url": "/onairsign",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "254b59bf.39db36",
                "b26ad7ed.01edc8"
            ]
        ]
    },
    {
        "id": "ea15d421.668058",
        "type": "http request",
        "z": "6f44aa00.39f1d8",
        "name": "Turn On TV",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.86.26:8060/keypress/powerOn",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 890,
        "y": 80,
        "wires": [
            [
                "a4014ffa.385b9"
            ]
        ]
    },
    {
        "id": "6c9780cf.e0d5f",
        "type": "http request",
        "z": "49349dd8.690534",
        "name": "Turn Off TV",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.86.26:8060/keypress/powerOff",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 790,
        "y": 75,
        "wires": [
            []
        ]
    },
    {
        "id": "d2f652c5.99d6c",
        "type": "http request",
        "z": "6f44aa00.39f1d8",
        "name": "TV status",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.86.26:8060/query/device-info",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 500,
        "y": 80,
        "wires": [
            [
                "a4fd3498.760468"
            ]
        ]
    },
    {
        "id": "a4fd3498.760468",
        "type": "xml",
        "z": "6f44aa00.39f1d8",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 630,
        "y": 80,
        "wires": [
            [
                "cc9e9431.60d978"
            ]
        ]
    },
    {
        "id": "cc9e9431.60d978",
        "type": "switch",
        "z": "6f44aa00.39f1d8",
        "name": "Off?",
        "property": "payload.device-info.power-mode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ready",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 80,
        "wires": [
            [
                "ea15d421.668058"
            ]
        ]
    },
    {
        "id": "903fbfad.afa8e",
        "type": "http request",
        "z": "6f44aa00.39f1d8",
        "name": "Change to HDMI 2",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.86.26:8060/keypress/InputHDMI3",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1210,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "a4014ffa.385b9",
        "type": "delay",
        "z": "6f44aa00.39f1d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1040,
        "y": 80,
        "wires": [
            [
                "903fbfad.afa8e"
            ]
        ]
    },
    {
        "id": "20124cbf.2727e4",
        "type": "http request",
        "z": "af49f098.a5b81",
        "name": "Player status",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.86.26:8060/query/media-player",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1090,
        "y": 800,
        "wires": [
            [
                "f6595cc3.69b9"
            ]
        ]
    },
    {
        "id": "f6595cc3.69b9",
        "type": "xml",
        "z": "af49f098.a5b81",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 1230,
        "y": 800,
        "wires": [
            [
                "65ac7b68.9a0d54"
            ]
        ]
    },
    {
        "id": "65ac7b68.9a0d54",
        "type": "switch",
        "z": "af49f098.a5b81",
        "name": "Playing?",
        "property": "payload.player",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "plugin",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1360,
        "y": 800,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "fe395a09.0d84e8",
        "type": "http request",
        "z": "49349dd8.690534",
        "name": "Active App",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.86.26:8060/query/active-app",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 190,
        "y": 75,
        "wires": [
            [
                "2984e565.572e3a"
            ]
        ]
    },
    {
        "id": "2984e565.572e3a",
        "type": "xml",
        "z": "49349dd8.690534",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 330,
        "y": 75,
        "wires": [
            [
                "b2f3d091.3f04b"
            ]
        ]
    },
    {
        "id": "a0eef12b.c44f2",
        "type": "ping",
        "z": "af49f098.a5b81",
        "mode": "triggered",
        "name": "Mac",
        "host": "192.168.86.78",
        "timer": "20",
        "inputs": 1,
        "x": 650,
        "y": 220,
        "wires": [
            [
                "358508ab.ba1778"
            ]
        ]
    },
    {
        "id": "64f3c590.568abc",
        "type": "switch",
        "z": "af49f098.a5b81",
        "name": "At Home?",
        "property": "lapStatus",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gte",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 960,
        "y": 220,
        "wires": [
            [
                "ed04f6bd.21f818"
            ]
        ]
    },
    {
        "id": "d6adda37.0a5278",
        "type": "change",
        "z": "af49f098.a5b81",
        "name": "Set Zoom Status",
        "rules": [
            {
                "t": "set",
                "p": "zoomStatus",
                "pt": "flow",
                "to": "payload.payload.object.presence_status",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 220,
        "wires": [
            [
                "a0eef12b.c44f2"
            ]
        ]
    },
    {
        "id": "358508ab.ba1778",
        "type": "change",
        "z": "af49f098.a5b81",
        "name": "Set Lap Status",
        "rules": [
            {
                "t": "set",
                "p": "lapStatus",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 220,
        "wires": [
            [
                "64f3c590.568abc"
            ]
        ]
    },
    {
        "id": "388787f5.ba64c8",
        "type": "http in",
        "z": "af49f098.a5b81",
        "name": "Spotify",
        "url": "/spotify-credentials/auth/callback",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 380,
        "wires": [
            [
                "474468ac.1d7948"
            ]
        ]
    },
    {
        "id": "dcd12d02.2e917",
        "type": "spotify",
        "z": "5e65806b.f3daa",
        "name": "Pause Spotify",
        "auth": "f7e7f462.2f1898",
        "api": "pause",
        "x": 360,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "e795ca68.5de6c8",
        "type": "http request",
        "z": "6f44aa00.39f1d8",
        "name": "On Air Sign",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.86.76/json/state",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 650,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "cb70dbb3.fd25a8",
        "type": "http request",
        "z": "a307d03b.cb134",
        "name": "On Air Sign",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.86.76/json/state",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 330,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "474468ac.1d7948",
        "type": "http response",
        "z": "af49f098.a5b81",
        "name": "Status response",
        "statusCode": "200",
        "headers": {},
        "x": 280,
        "y": 380,
        "wires": []
    },
    {
        "id": "a811734a.fbeb3",
        "type": "simpletime",
        "z": "6f44aa00.39f1d8",
        "name": "Time",
        "mydate": false,
        "myymd": false,
        "myyear": false,
        "mymonth": false,
        "mymonthn": false,
        "mydom": false,
        "mydoy": false,
        "myday": false,
        "myhourpm": false,
        "myhour": true,
        "mytime": false,
        "mytimes": false,
        "myminute": false,
        "myminutes": false,
        "mysecond": false,
        "mymillis": false,
        "myepoch": false,
        "myrawdate": false,
        "mypm": false,
        "x": 190,
        "y": 100,
        "wires": [
            [
                "675c4a9d.81f624"
            ]
        ]
    },
    {
        "id": "675c4a9d.81f624",
        "type": "switch",
        "z": "6f44aa00.39f1d8",
        "name": "Working Hours?",
        "property": "myhour",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "9",
                "vt": "num",
                "v2": "23",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 100,
        "wires": [
            [
                "1cbbe286.2a031d",
                "d2f652c5.99d6c"
            ]
        ]
    },
    {
        "id": "b2f3d091.3f04b",
        "type": "function",
        "z": "49349dd8.690534",
        "name": "",
        "func": "if(msg.payload['active-app'].app[0]._) {\n    msg.payload = msg.payload['active-app'].app[0]._ === 'Art';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 75,
        "wires": [
            [
                "a42a5d5.960efa"
            ]
        ]
    },
    {
        "id": "a42a5d5.960efa",
        "type": "switch",
        "z": "49349dd8.690534",
        "name": "Showing Art?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 620,
        "y": 75,
        "wires": [
            [
                "6c9780cf.e0d5f"
            ]
        ]
    },
    {
        "id": "44874a40.993a24",
        "type": "ui_button",
        "z": "af49f098.a5b81",
        "name": "",
        "group": "97c95f86.6e626",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Restart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Are you sure you want to restart?",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 720,
        "wires": [
            [
                "c27276e8.c41288"
            ]
        ]
    },
    {
        "id": "7501c855.4f7398",
        "type": "exec",
        "z": "af49f098.a5b81",
        "command": "sudo reboot",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 530,
        "y": 720,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "4a422cac.f5ecf4",
        "type": "subflow:5e65806b.f3daa",
        "z": "af49f098.a5b81",
        "name": "Set busy",
        "env": [],
        "x": 1320,
        "y": 220,
        "wires": []
    },
    {
        "id": "c6119c18.f977c",
        "type": "subflow:6f44aa00.39f1d8",
        "z": "af49f098.a5b81",
        "name": "Set available",
        "env": [],
        "x": 1330,
        "y": 160,
        "wires": []
    },
    {
        "id": "bd72710a.3c3ec",
        "type": "subflow:49349dd8.690534",
        "z": "af49f098.a5b81",
        "name": "",
        "env": [],
        "x": 1320,
        "y": 320,
        "wires": []
    },
    {
        "id": "46668f74.bd2b9",
        "type": "subflow:a307d03b.cb134",
        "z": "af49f098.a5b81",
        "name": "",
        "env": [],
        "x": 1330,
        "y": 280,
        "wires": []
    },
    {
        "id": "ed1729f9.3856e8",
        "type": "ui_button",
        "z": "af49f098.a5b81",
        "name": "",
        "group": "b571a780.1b3c38",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Set available",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 480,
        "wires": [
            [
                "cfbacd8b.aac19"
            ]
        ]
    },
    {
        "id": "cfbacd8b.aac19",
        "type": "subflow:6f44aa00.39f1d8",
        "z": "af49f098.a5b81",
        "name": "",
        "x": 250,
        "y": 480,
        "wires": []
    },
    {
        "id": "c2118451.10e8e8",
        "type": "subflow:5e65806b.f3daa",
        "z": "af49f098.a5b81",
        "name": "",
        "x": 240,
        "y": 540,
        "wires": []
    },
    {
        "id": "35091817.82daf8",
        "type": "ui_button",
        "z": "af49f098.a5b81",
        "name": "",
        "group": "b571a780.1b3c38",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Set busy",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 540,
        "wires": [
            [
                "c2118451.10e8e8"
            ]
        ]
    },
    {
        "id": "3a0bcfff.4b488",
        "type": "ui_button",
        "z": "af49f098.a5b81",
        "name": "",
        "group": "b571a780.1b3c38",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Set away",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 600,
        "wires": [
            [
                "7a100c8f.c47b54",
                "e1643ebe.8b343"
            ]
        ]
    },
    {
        "id": "7a100c8f.c47b54",
        "type": "subflow:a307d03b.cb134",
        "z": "af49f098.a5b81",
        "name": "",
        "x": 250,
        "y": 640,
        "wires": []
    },
    {
        "id": "e1643ebe.8b343",
        "type": "subflow:49349dd8.690534",
        "z": "af49f098.a5b81",
        "name": "",
        "x": 240,
        "y": 600,
        "wires": []
    },
    {
        "id": "3d46ce59.5c8e42",
        "type": "function",
        "z": "af49f098.a5b81",
        "name": "Confirm",
        "func": "//only accept OK msg's\nif (msg.payload == 'OK') {\n    msg.payload = \"Stop\";\n    node.send(msg);\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 720,
        "wires": [
            [
                "7501c855.4f7398"
            ]
        ]
    },
    {
        "id": "c27276e8.c41288",
        "type": "ui_toast",
        "z": "af49f098.a5b81",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "topic": "",
        "name": "Deploy?",
        "x": 227,
        "y": 720,
        "wires": [
            [
                "3d46ce59.5c8e42"
            ]
        ]
    },
    {
        "id": "b26ad7ed.01edc8",
        "type": "switch",
        "z": "af49f098.a5b81",
        "name": "Status Received",
        "property": "payload.payload.object",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "presence_status",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 280,
        "y": 220,
        "wires": [
            [
                "d6adda37.0a5278"
            ]
        ]
    }
]