flow.json
[
    {
        "id": "af49f098.a5b81",
        "type": "tab",
        "label": "On Air Sign",
        "disabled": false,
        "info": "# On Air Sign\n\nAutomated on air sign with zoom status"
    },
    {
        "id": "a105a65d.6b64c8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5d0fdfc3.3f428",
        "type": "ui_tab",
        "name": "Roku",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "b571a780.1b3c38",
        "type": "ui_group",
        "name": "Roku",
        "tab": "5d0fdfc3.3f428",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "5ea7767d.475018",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ed04f6bd.21f818",
        "type": "switch",
        "z": "af49f098.a5b81",
        "name": "Presence status",
        "property": "zoomStatus",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Available",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Do_Not_Disturb",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "In_Meeting",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Away",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1100,
        "y": 220,
        "wires": [
            [
                "1cbbe286.2a031d",
                "d2f652c5.99d6c"
            ],
            [
                "bccc47ff.bc1f98"
            ],
            [
                "bccc47ff.bc1f98"
            ],
            [
                "cc5578c3.2867a8",
                "20124cbf.2727e4"
            ]
        ]
    },
    {
        "id": "254b59bf.39db36",
        "type": "http response",
        "z": "af49f098.a5b81",
        "name": "Status response",
        "statusCode": "200",
        "headers": {},
        "x": 500,
        "y": 300,
        "wires": []
    },
    {
        "id": "1cbbe286.2a031d",
        "type": "template",
        "z": "af49f098.a5b81",
        "name": "Available",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"on\": true,\n    \"bri\": 127,\n    \"seg\": {\n        \"col\": [\n            [0, 255, 0]\n        ]\n    }\n}",
        "output": "str",
        "x": 1300,
        "y": 160,
        "wires": [
            [
                "1cae856e.d0957b"
            ]
        ]
    },
    {
        "id": "bccc47ff.bc1f98",
        "type": "template",
        "z": "af49f098.a5b81",
        "name": "Busy",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"on\": true,\n    \"bri\": 127,\n    \"seg\": {\n        \"col\": [\n            [255, 0, 0]\n        ]\n    }\n}",
        "output": "str",
        "x": 1290,
        "y": 220,
        "wires": [
            [
                "1cae856e.d0957b"
            ]
        ]
    },
    {
        "id": "cc5578c3.2867a8",
        "type": "template",
        "z": "af49f098.a5b81",
        "name": "Away",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"on\": false\n}",
        "output": "str",
        "x": 1290,
        "y": 280,
        "wires": [
            [
                "1cae856e.d0957b"
            ]
        ]
    },
    {
        "id": "1cae856e.d0957b",
        "type": "http request",
        "z": "af49f098.a5b81",
        "name": "On Air Sign",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.86.76/json/state",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1490,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ca5ad715.9cdf78",
        "type": "http in",
        "z": "af49f098.a5b81",
        "name": "Status change",
        "url": "/onairsign",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "254b59bf.39db36",
                "d6adda37.0a5278"
            ]
        ]
    },
    {
        "id": "ea15d421.668058",
        "type": "http request",
        "z": "af49f098.a5b81",
        "name": "Turn On TV",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.86.26:8060/keypress/powerOn",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1690,
        "y": 104,
        "wires": [
            [
                "a4014ffa.385b9"
            ]
        ]
    },
    {
        "id": "6c9780cf.e0d5f",
        "type": "http request",
        "z": "af49f098.a5b81",
        "name": "Turn Off TV",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.86.26:8060/keypress/powerOff",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1730,
        "y": 342,
        "wires": [
            []
        ]
    },
    {
        "id": "d2f652c5.99d6c",
        "type": "http request",
        "z": "af49f098.a5b81",
        "name": "TV status",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.86.26:8060/query/device-info",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1300,
        "y": 104,
        "wires": [
            [
                "a4fd3498.760468"
            ]
        ]
    },
    {
        "id": "a4fd3498.760468",
        "type": "xml",
        "z": "af49f098.a5b81",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 1430,
        "y": 104,
        "wires": [
            [
                "cc9e9431.60d978"
            ]
        ]
    },
    {
        "id": "cc9e9431.60d978",
        "type": "switch",
        "z": "af49f098.a5b81",
        "name": "Off?",
        "property": "payload.device-info.power-mode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ready",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1550,
        "y": 104,
        "wires": [
            [
                "ea15d421.668058"
            ]
        ]
    },
    {
        "id": "903fbfad.afa8e",
        "type": "http request",
        "z": "af49f098.a5b81",
        "name": "Change to HDMI 1",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.86.26:8060/keypress/InputHDMI1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 2010,
        "y": 104,
        "wires": [
            []
        ]
    },
    {
        "id": "a4014ffa.385b9",
        "type": "delay",
        "z": "af49f098.a5b81",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1840,
        "y": 104,
        "wires": [
            [
                "903fbfad.afa8e"
            ]
        ]
    },
    {
        "id": "20124cbf.2727e4",
        "type": "http request",
        "z": "af49f098.a5b81",
        "name": "Player status",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.86.26:8060/query/media-player",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1310,
        "y": 335,
        "wires": [
            [
                "f6595cc3.69b9"
            ]
        ]
    },
    {
        "id": "f6595cc3.69b9",
        "type": "xml",
        "z": "af49f098.a5b81",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 1450,
        "y": 335,
        "wires": [
            [
                "65ac7b68.9a0d54"
            ]
        ]
    },
    {
        "id": "65ac7b68.9a0d54",
        "type": "switch",
        "z": "af49f098.a5b81",
        "name": "Playing?",
        "property": "payload.player",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "plugin",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1580,
        "y": 335,
        "wires": [
            [],
            [
                "6c9780cf.e0d5f"
            ]
        ]
    },
    {
        "id": "e105df1.197a52",
        "type": "debug",
        "z": "af49f098.a5b81",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1610,
        "y": 400,
        "wires": []
    },
    {
        "id": "fe395a09.0d84e8",
        "type": "http request",
        "z": "af49f098.a5b81",
        "name": "Active App",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.86.26:8060/query/active-app",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1310,
        "y": 400,
        "wires": [
            [
                "2984e565.572e3a"
            ]
        ]
    },
    {
        "id": "2984e565.572e3a",
        "type": "xml",
        "z": "af49f098.a5b81",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 1460,
        "y": 400,
        "wires": [
            [
                "e105df1.197a52"
            ]
        ]
    },
    {
        "id": "a0eef12b.c44f2",
        "type": "ping",
        "z": "af49f098.a5b81",
        "mode": "triggered",
        "name": "Lap",
        "host": "192.168.86.78",
        "timer": "20",
        "inputs": 1,
        "x": 630,
        "y": 220,
        "wires": [
            [
                "358508ab.ba1778"
            ]
        ]
    },
    {
        "id": "64f3c590.568abc",
        "type": "switch",
        "z": "af49f098.a5b81",
        "name": "At Home?",
        "property": "lapStatus",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gte",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 940,
        "y": 220,
        "wires": [
            [
                "ed04f6bd.21f818"
            ]
        ]
    },
    {
        "id": "d6adda37.0a5278",
        "type": "change",
        "z": "af49f098.a5b81",
        "name": "Set Zoom Status",
        "rules": [
            {
                "t": "set",
                "p": "zoomStatus",
                "pt": "flow",
                "to": "payload.payload.object.presence_status",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 220,
        "wires": [
            [
                "a0eef12b.c44f2"
            ]
        ]
    },
    {
        "id": "358508ab.ba1778",
        "type": "change",
        "z": "af49f098.a5b81",
        "name": "Set Lap Status",
        "rules": [
            {
                "t": "set",
                "p": "lapStatus",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 220,
        "wires": [
            [
                "64f3c590.568abc"
            ]
        ]
    }
]